@charset "utf-8";

body {
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    background-color: #171820;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}


/*---------------------------------------------------------------*/
/*-------------------Utility Classes-----------------------------*/
/*---------------------------------------------------------------*/


.flex {
    display: flex;
}


.space-between {
    justify-content: space-between;
}


.center {
    display: grid;
    place-items: center;
}


.row-one, .price-row, .team-row, .learn-more {
    flex-wrap: wrap;
}


.gap-10 {
    gap: 10px;
}


.gap-20 {
    gap: 20px;
}


.gap-30 {
    gap: 30px;
}


/*---------------------------------------------------------------*/
/*-----------------------------Header----------------------------*/
/*---------------------------------------------------------------*/


.header {
    background-color: #24252D;
    color: #fff;
}


.logo h1 {
    color: #1e90ff;
}


.logo {
    width: 800px;
    text-align: center;
}


.user-info {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2px;
    height: 48px;
}


.userLogo {
    height: 48px;
}


.nav {
    display: flex;
    width: 645px;
    padding-top: 9px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #1e90ff;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/*---------------------------------------------------------------*/
/*-------------------------------text-area-----------------------*/
/*---------------------------------------------------------------*/


.fullForm {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    height: 100%;
    width: 37%;
}


.post-form {
    width: 559px;
    height: 260px;
}


.textArea {
    width: 100%;
    height: 210px;
    border: 1px solid #000;
    position: relative;
    color: rgb(160, 160, 160);
    padding: 15px;
    font-size: 21px;
    top: 53px;
    background-color: #24252D;
    border-radius: 9px;
    resize: none; 
}


#icon {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.file-input-container {
    position: relative;
    display: inline-block;
}


.file-label {
    cursor: pointer;
}


#icon {
    width: 50px; /* Adjust icon size as needed */
    height: auto;
}


#file-name {
    display: none;
}


#image {
    position: relative;
    top: 3px;
    right: -13px;
}


.btn {
    width: 210px;
    position: relative;
    top: -64px;
    right: -340px;
    color: #fff;
    padding: 9px;
    border-radius: 11px;
}

#submit {
    width: 89px;
    padding: 9px;
    margin-right: 7px;
    background-color: #1e90ff;
    border-radius: 7px;
    color: #fff;
}


#clear {
    width: 89px;
    padding: 9px;
    background-color: #cc7000;
    border-radius: 7px;
    color: #fff;
}

#file-name-display {
    color: #000;
    position: relative;
    top: 9px;
}


.file-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}


.file-label {
    cursor: pointer;
    display: flex;
    gap: 25px;
}


/*---------------------------------------------------------------*/
/*------------------------Comment-Box----------------------------*/
/*---------------------------------------------------------------*/


.comments {
    width: 577px;
    height: auto;
}


#comment-box {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: #000;
}
  

#comment-box ul {
    list-style-type: none;
    padding: 0;
}
  

#comment-box ul li {
    background-color: #f9f9f9;
    color: #000;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    text-align: left;
    flex-direction: column;
}


.comments-header {
    display: none; 
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px; 
    padding: 5px; 
    border-radius: 5px; 
}


.file-label {
    cursor: pointer;
}


#icon {
    position: relative;
    left: 16px;
    font-family: 'Font Awesome 5 Solid';
    font-weight: 900;
    font-size: -31px;
    width: 40px;
}


#file-name-display{
        color: rgb(162 165 165 / 0.4);
        position: relative;
        top: 9px;
}


.header-left {
    display: flex;
    gap: 17px;
}


.header-left img  {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.header-left span {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 700;
}


.header-right span {
    font-size: 15px;
    color: #707575;
    font-weight: 500;
}


/*---------------------------------------------------------------*/
/*-------------------------Profile-Box---------------------------*/
/*---------------------------------------------------------------*/


.modal {
    position: absolute;
    top: 51px;
    right: 208px;
}


.modal-content {
    width: 300px;
    text-align: center;
}


.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}


.profile-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.1);
}

  
.profile-card img {
    position: relative;
    margin-top: 52px;
    width: 26%;
    height: auto;
    top: 29px;
}
  

.profile-info {
    padding: 20px;
}
  

.modal h2 {
    padding-top: 44px;
}

  
.modal p {
    overflow-wrap: break-word;
    font-size: 17px;
    padding-top: 8px;
    padding-left: 48px;
    text-align: left;
}


#close {
    position: absolute;
    left: 276px;
    font-size: 26px;
    color: #171820;
}


p i {
    padding-right: 10px;
    font-size: 19px;
}


.money {
    padding-bottom: 12px;
}